
<div class="col-sm-9">
    <div class="well">
      <h4>Your account</h4>
      <p><%- include ("../partials/messages") %></p>
    </div>
    <div class="row">
        
      <div class="col-sm-3">
        <div class="well">
            <a href="/client/info"><h4>Informations </h4></a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
            <a href="/client/address"><h4>Address</h4></a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <a href="/user/setlogin"><h4>Login & Security</h4></a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Your orders</h4>
        </div>
      </div>
    </div>
  

    </div>
    